{% extends 'predictor/base.html' %}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col">
            {% for item in logged_in_user %}
            <h1>{{item.username}}</h1>
            <form method="POST" action="{% url 'account' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="" class="form-label">First Name</label>
                    <input
                        type="text"
                        class="form-control"
                        name="first_name"
                        id="first_name"
                        aria-describedby="helpId"
                        placeholder={% if item.first_name %}""{% else %}"First name"{% endif %}
                        value={% if item.first_name %}"{{item.first_name}}"{% else %}""{% endif %} 
                    />
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Last Name</label>
                    <input
                        type="text"
                        class="form-control"
                        name="last_name"
                        id="last_name"
                        aria-describedby="helpId"
                        placeholder={% if item.last_name %}""{% else %}"Last name"{% endif %}
                        value={% if item.last_name %}"{{item.last_name}}"{% else %}""{% endif %} 
                    />
                </div>
                
                <br>
                <button
                    type="submit"
                    class="btn btn-primary"
                >
                    Update
                </button>
                
                </form>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}