{% extends 'predictor/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h3>Taxi Cab Distance</h3>
            <a href="https://en.wikipedia.org/wiki/Taxicab_geometry">Definition</a>
            <p>Shows average distance (total goals) we were as a group from the actual result.<br>
            If it says 0 then as a group we got the result sopt on</p>
        </div>
    </div>
    <div
        class="table-responsive"
    >
        <table
            class="table table-primary table-hover"
        >
            <thead>
                <tr>
                    <th scope="col">Match</th>
                    <th scope="col">Actual Score</th>
                    <th scope="col">Our xG</th>
                    <th scope="col">Home Win</th>
                    <th scope="col">Away Win</th>
                    <th scope="col">Draw</th>
                    <th scope="col">Wrong</th>
                    <th scope="col">Right</th>
                    <th scope="col">Right Goal Diff</th>
                    <th scope="col">Exact</th>
                    <th scope="col">Avg Taxi Diff</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for match in matches %}
                <tr class="">
                    <td scope="row">{{match.1.0.country}} vs {{match.1.1.country}}</td>
                    <td scope="row">{{match.1.0.score}} - {{match.1.1.score}}</td>
                    <td>{{match.4.0}} - {{match.4.1}} </td>
                    <td>{{match.0.0}}%</td>
                    <td>{{match.0.1}}%</td>
                    <td>{{match.0.2}}%</td>
                    <td>{{match.2.0}}</td>
                    <td>{{match.2.1}}</td>
                    <td>{{match.2.2}}</td>
                    <td>{{match.2.3}}</td>
                    <td>{{match.3}}</td>
                    

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>
{% endblock content %}