<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'predictor\style\styles.css' %}">
</head>
<body>
    <nav
        class="navbar navbar-expand-sm navbar-light bg-light"
    >
        <div class="container">
            <a class="navbar-brand" href="{% url 'homepage' %}">Navboctopus</a>
            <button
                class="navbar-toggler d-lg-none"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapsibleNavId"
                aria-controls="collapsibleNavId"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'homepage' %}" aria-current="page"
                            >Home
                            </a
                        >
                        
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'group_entry' %}" aria-current="page"
                            >Make/Edit Predictions
                            </a
                        >
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'winners' %}" aria-current="page"
                            >Winners
                            </a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'world_rankings' %}" aria-current="page"
                            >World Rankings
                            </a
                        >
                        
                        
                    </li>
                    {% if user.username == 'Actual_Scores'%}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'actual_entry' %}" aria-current="page"
                        >Actual
                        </a
                        >
                    </li>
                    {% endif %}
                    
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="dropdownId"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                            >Stats</a
                        >
                        <div
                            class="dropdown-menu"
                            aria-labelledby="dropdownId"
                        >
                        
                        <a class="nav-link" href="#">Work In Progress</a>
                        </div>
                        
                    </li>
                    {% endif %}
                </ul>
                <form class="d-flex my-2 my-lg-0">
                    {% if user.is_authenticated %}
                    <a class="navbar-brand" href="{% url 'logout' %}" class="nav-link active" title="Log Out">Log Out {{user.username}} {{user.last_name|first}}</a>
                    {% else %}
                    <a class="navbar-brand" href="{% url 'login' %}" class="nav-link active" title="Login">Login</a>
                    <a class="navbar-brand" href="{% url 'sign_up_user' %}" class="nav-link active" title="sign up user">Sign Up</a>
                    {% endif %}
                </form>
            </div>
        </div>
    </nav>
    

    
    {% block content %}


    {% endblock content %}
    
    
</body>
</html>