<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}The Octopus{% endblock %}</title>
    {% load static %}
    <meta
      name="The Navboctopus"
      description="Predictions to crown the head octopus at Navblue"
    />
    <meta property="og:title" content="The Navboctopus" />
    <meta property="og:description" content="Predictions to crown the head octopus at Navblue" />
    <meta property="og:url" content="https://www.navboctopus.com" />
    <meta
      property="og:image"
      content="{% static 'predictor/images/Icon.png' %}"
    />
    <meta property="og:type" content="website" />

    <meta property="og:locale" content="en_GB" />
    <meta property="og:image:type" content="image/png" />
    <link
      rel="icon"
      type="image/png"
      href="{% static 'predictor/images/Icon.png' %}"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'predictor/images/Icon.png' %}"
    />
    <link rel="mask-icon" href="{% static 'predictor/images/Icon.png' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'predictor\style\styles.css' %}">
</head>
<body>
    <nav
        class="navbar navbar-expand-sm navbar-light bg-light"
    >
        <div class="container">
            <a class="navbar-brand" href="{% url 'homepage' %}">Navboctopus</a>
            <button
                class="navbar-toggler d-lg-none"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapsibleNavId"
                aria-controls="collapsibleNavId"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <img src="{% static 'predictor/images/Icon.png' %}" height="35px" width="35px" alt="">
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'homepage' %}" aria-current="page"
                            >Home
                            </a
                        >
                        
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'closed_predictions' %}" aria-current="page"
                            >Closed Predictions
                            </a
                        >
                    </li>
                    {% endif %}
                
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'winners' %}" aria-current="page"
                            >Winners
                            </a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'world_rankings' %}" aria-current="page"
                            >World Rankings
                            </a
                        >
                        
                        
                    </li>
                    {% if user.username == 'Actual_Scores'%}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'actual_entry' %}" aria-current="page"
                        >Actual
                        </a
                        >
                    </li>
                    {% endif %}
                    

                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="dropdownId"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                            >Stats</a
                        >
                        <div
                            class="dropdown-menu"
                            aria-labelledby="dropdownId"
                        >
                        
                        <a class="nav-link" href="{% url 'heat_map' %}">Heat Map</a>
                        <a class="nav-link" href="{% url 'stats' %}">All Stats</a>
                        <a class="nav-link" href="{% url 'per_player' %}">Player</a>
                        <a class="nav-link" href="{% url 'per_match' %}">Match</a>
                        </div>
                        
                    </li>
                

                </ul>
                <form class="d-flex my-2 my-lg-0">
                    {% if user.is_authenticated %}
                    <a class="navbar-brand" href="{% url 'account' %}" class="nav-link active" title="Account">Account</a>
                    <a class="navbar-brand" href="{% url 'logout' %}" class="nav-link active" title="Log Out">Log Out {{user.username}}</a>
                    {% else %}
                    <a class="navbar-brand" href="{% url 'login' %}" class="nav-link active" title="Login">Login</a>
                    {% comment %} <a class="navbar-brand" href="{% url 'sign_up_user' %}" class="nav-link active" title="sign up user">Sign Up</a> {% endcomment %}
                    {% endif %}
                </form>
            </div>
        </div>
    </nav>
    

    
    {% block content %}


    {% endblock content %}
    
    
</body>
</html>
